<div class="card_container">
  <div class="card_header">
    <span class="card_title">{{ title }}</span>
    <span class="material-icons"> {{ icon }} </span>
  </div>
  <div class="container">
    <div
      class="card_info"
      *ngFor="let element of getLastTwoItems()"
      (click)="goToElement(element.id)"
    >
      <div>
        <span>{{ element.name || element.title }}</span>
        <span
          >{{
            (element.description && element.description.length > 70
              ? element.description.substring(0, 50) + "..."
              : element.description) || element.surname
          }}
        </span>
      </div>
    </div>
  </div>
</div>
