<div class="login_container">
  <div class="login_img">
    <img src="logo.svg" alt="logo" />
  </div>
  <form>
    <div class="input_container">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="example@email.it" />
    </div>
    <div class="input_container">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Inserisci la password"
      />
    </div>
    <button type="submit" routerLink="/home">Accedi</button>
  </form>
</div>
