<app-header></app-header>
<div class="middle_container">
  <app-sidebar></app-sidebar>
  <div class="main_content">
    <span class="title">Dipendenti</span>
    <div class="table_container">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th class="hide_on_mobile">Qualifica</th>
            <th class="hide_on_mobile hide_on_tablet">Contatti</th>
            <th class="hide_on_mobile hide_on_tablet hide_on_desktop">
              Progetti in carico
            </th>
            <th class="hide_on_mobile hide_on_tablet hide_on_desktop">
              Ultimo aggiornamento
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let employee of employees"
            (click)="goToElement(employee.id)"
          >
            <td>{{ employee.name }}</td>
            <td>{{ employee.surname }}</td>
            <td class="hide_on_mobile">{{ employee.specialization }}</td>
            <td class="hide_on_mobile hide_on_tablet hide_on_desktop">
              {{ employee.email }}
            </td>
            <td class="hide_on_mobile hide_on_tablet hide_on_desktop">
              {{ employee.projects.length }}
            </td>
            <td class="hide_on_mobile hide_on_tablet">
              {{ employee.updated_at | date : "HH:mm dd/MM/yyyy" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-spinner [isLoading]="loading"></app-spinner>
<app-footer></app-footer>
